<div class="worksheet">
    <div class="profile">
        <h2>RF Cascade Sheet</h2>
        <p>Welcome to the RF Cascade Sheet. A block diagram tool for cascading RF components and exploring the
            results.
        <ul>
            <li>Click on a block to add a component to it</li>
            <li>Edit components by clicking them</li>
            <li>Explore results in the results tab.</li>
            <li>The signal flow goes from left to right, and will be automatically connected</li>
        </ul>
        </p>

    </div>
    {% include 'canvas.html' %}
</div>